<!DOCTYPE html>
<html lang="en">
	<head>
        <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
        <script type="text/javascript" src="/assets/js/burger.js"></script>
        		<title>The Burgers</title>
	</head>
	<body>
        <div id="container">
            <div class="jumbotron">
    <h1>Eat Da Burger</h1>      
    <p>Order the custom burger and devout it.</p>
  </div>
		{{{ body }}}
        </div>
	
	</body>
</html>